# Environment
.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Data yang di-generate
core/history.json
core/monitor.py
data/online_counters.json
data/qwen_user/
data/deepseek_user/
data/reminders.json
data/wilayah.db
data/wilayah.sql

# File sementara / log
fix-planning/
fix.md
history.json
plainning.md
planning.md
script.zip
server.log
mirai-helix.tar.gz
mirai-helix.zip
wispbyte-log.txt
discord.txt
.env - Copy*
data/chat_log.json
